@font-face {
	font-family: "Open Sans Bold";
	src: url("/static/karate_master/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans Regular";
	src: url("/static/karate_master/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}