body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.p0{
    padding: 0;
}

/*BUTTONS*/
.my_btn{
    background-color: #e84545;
    border: none;
    text-transform: uppercase;
    color: #fff;
}
.btn_md{
    padding: 10px 30px;
}
.btn_lg{
    padding: 15px 50px;
}

.soc_btn_grey{
    border: 1px solid #c6cacc;
    color: #c6cacc;
    background-color: transparent;
    width: 30px;
    height: 30px;
}
.soc_btn_white{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.call_btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #e84545;
    border: none;
    z-index: 999;
}

/*HEADER*/
header{
    height: 803px;
    background-image: url('/static/karate_master/img/header_background.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

nav{
    height: 94px;
    line-height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    padding: 0 30px;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-family: 'OpenSans', sans-serif;
}
.menu li a:hover,
.menu li a:focus{
    text-decoration: none;
    color: #e1e1e1;
}
.top_line{
    height: 1px;
    background-color: #e1e1e1;
}
.logo{
    width: 94px;
    height: 94px;
}

.kyokushin_block{
    width: 296px;
    height: 794px;
    margin-top: 270px;
    position: relative;
    right: 260px;
}

.title_block{
    color: #fff;
    text-align: center;
    margin-top: 160px;
}
.title_block h1{
    font-size: 50px;
    font-family: 'Open Sans Bold', sans-serif;
    margin-bottom: 30px;
}
.title_block p{
    font-size: 18px;
    margin-bottom: 50px;
}

/*PARAMETRS SECTION*/
.params_s{
    margin: 120px 0px 120px 0px;
}
.param_block{
    text-align: center;
    margin-bottom: 50px;
}
.param_block i{
    font-size: 70px;
    color: #e84545;
}
.param_block h3{
    text-transform: uppercase;
    font-family: "RalewayBold", sans-serif;
    font-size: 18px;
}
.param_block p{
    font-size: 14px;
}

/*WORKS SECTION*/
.work_block{
    position: relative;
}
.image_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232,69,69,.7);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    opacity: 0;
}
.work_block:hover .image_wrap{
    opacity: 1;
}
.work_descr{
    color: #fff;
    text-align: center;
    margin: auto;
}

/*TEAM SECTION*/
.team_s{
    padding: 95px 0;
    color: #6c7279;
}
.team_item h4{
    font-family: "RalewayBold", sans-serif;
    color: #000;
}
.team_item>span{
    text-transform: uppercase;
    color: #e84545;
    font-size: 14px;
}
.team_item p{
    font-size: 14px;
    padding: 10px 0;
}

.img-team{

}

/*DOWNLOAD SECTION*/
.download{
    padding: 90px 0;
}
.download_block{
    text-align: center;
}
.download_block h5{
    font-size: 24px;
}
.download_block p{
    font-family: "RalewayBold", sans-serif;
    text-transform: uppercase;
}

/*FOOTER*/
.main_footer{
    padding: 70px 0;
    background-color: #3a3e64;
}
.footer_item{
    text-align: center;
    margin-bottom: 20px;
}
.footer_item h5{
    font-family: "RalewayBold", sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.footer_item p{
    font-size: 14px;
    color: #9d9fb2;
}

.copyright_block{
    background-color: #313454;
    text-align: center;
    padding: 30px 0;
}
.copy_txt{
    color: #9d9fb2;
}



/*MODALS*/
#dlForm{
    width: 70%;
    margin: 0 auto;
}
#dlForm input{
    margin-bottom: 15px;
}
